<h2 mat-dialog-title>Create Crime</h2>
<mat-dialog-content class="mat-typography">
    <div class="container">
        <form [formGroup]="formGroup">
            <ol>
                <li>
                    <mat-form-field class="example-full-width">
                        <mat-label>Crime Title</mat-label>
                        <input type="text" matInput formControlName="crimeTtile" placeholder="Ex. LA Police Station">
                        <mat-error *ngIf="formGroup.controls.crimeTtile.hasError('required')">
                            Title is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="example-full-width">
                        <mat-label>Entry Date</mat-label>
                        <input type="date" matInput formControlName="crimeEntryDate" placeholder="Ex. 070000000xx">
                        <mat-error *ngIf="formGroup.controls.crimeEntryDate.hasError('required')">
                            Entry Date is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="example-full-width">
                        <mat-label>Crime Date</mat-label>
                        <input type="date" matInput formControlName="crimeDate" placeholder="Ex. St.9 Building 9">
                        <mat-error *ngIf="formGroup.controls.crimeDate.hasError('required')">
                            Crime Date is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="example-full-width">
                        <mat-label>Close Date</mat-label>
                        <input type="date" matInput formControlName="closeDate" placeholder="Ex. 125">
                        <mat-error *ngIf="formGroup.controls.closeDate.hasError('required')">
                            Close Date is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="example-full-width">
                        <mat-label>Location</mat-label>
                        <input type="text" matInput formControlName="location" placeholder="Ex. 125">
                        <mat-error *ngIf="formGroup.controls.Location.hasError('required')">
                            Location is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="example-full-width">
                        <mat-label>Category Name</mat-label>
                        <input type="text" matInput formControlName="crimeCategoryName" placeholder="Ex. 125">
                        <mat-error *ngIf="formGroup.controls.CrimeCategoryName.hasError('required')">
                            Category Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="example-full-width">
                        <mat-label>Criminal First Name</mat-label>
                        <input type="text" matInput formControlName="criminalFirstName" placeholder="Ex. 125">
                        <mat-error *ngIf="formGroup.controls.criminalFirstName.hasError('required')">
                            First Name is <strong>required</strong>

                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="example-full-width">
                        <mat-label>Criminal Last Name</mat-label>
                        <input type="text" matInput formControlName="criminalLastName" placeholder="Ex. 125">
                        <mat-error *ngIf="formGroup.controls.criminalLastName.hasError('required')">
                            Last Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="example-full-width">
                        <mat-label>Station Name</mat-label>
                        <input type="text" matInput formControlName="stationName" placeholder="Ex. 125">
                        <mat-error *ngIf="formGroup.controls.stationName.hasError('required')">
                            Station Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>
            </ol>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" (click)="saveItem()" cdkFocusInitial [disabled]="formGroup.invalid">Save</button>
</mat-dialog-actions>