mat-form-field {
    width: 100%;
}
.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 10px 10px 10px 0px;
  }

  .criminal-image{
      height: 128px;
      width: 128px;
      border-radius: 50%;
      margin:auto;
  }
  .criminal-info{
      display: grid;
      grid-template-areas: "a b";
      margin-top: 10px;
      margin-bottom: 10px;
      border-style: dotted;
      border-radius: 2%;
      border-color: black;
      border-width: 1px;
      padding: 10px;
  }
  .right{
      grid-area: b;
      margin: auto;
  }
  .left{
      grid-area:a;
  }