.container {
    padding: 20px;
    margin-top: 20px;
    border-radius: 3%;
    height: fit-content;
}

.line-color {
    color: blue;
    height: 3px
}

.crime-status {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
}

.grid-container {
    display: grid;
    grid-template-areas: "a b";
    grid-template-columns: auto auto auto;
}

h4 {
    font-weight: 500;
}

.b {
    grid-area: a;
    margin: auto;
}

.image-container {
    grid-area: b;
    float: left;
    align-content: flex-end;
}

.image {
    width: 400px;
    height: 300px;
    padding: 4px;
    width: 50%
}

.header {
    text-align: center;
    background-color: #3F51B5;
    border-radius: 15%;
    color: white;
    padding: 5px;
}

.crime-title {
    background-color: rgb(43, 50, 54);
    color: rgba(255, 255, 255, 0.884);
    text-align: center;
    padding: 7px;
}

.a {
    padding: 5px;
}