<div class="container mat-elevation-z8">
    <div class="crime-title">
        <h1 style="text-align: center;">{{crimeService.selectedCrime.crimeTtile}}</h1>
    </div>
    <hr class="line-color">
    <h1 class="header" style="text-align: center;">Crime Status</h1>
    <div class="crime-status">
        <div>
            <p>Crime Date: <strong>{{crimeService.selectedCrime.crimeDate | date}}</strong> </p>
        </div>
        <div>
            <p>Crime Entry Date: <strong>{{crimeService.selectedCrime.crimeEntryDate | date}}</strong></p>
        </div>
        <div>
            <p>Status: <strong>{{crimeService.selectedCrime.isClosed}}</strong></p>
        </div>
        <div>
            <!-- ngif only if closed show -->
            <p>Close Date: <strong>{{crimeService.selectedCrime.closeDate | date}}</strong></p>
        </div>
    </div>
    <hr class="line-color">
    <h1 class="header">Crime Information</h1>
    &nbsp;  
    <div class="crime-details">
        <div class="grid-container">
            <div class="image-container">
                <figure>
                    <img class="image" src="{{crimeService.selectedCrime.image}}">
                    <figcaption style="text-align: center;">Crime Image</figcaption>
                </figure>
            </div>
            <div class="a">
                <p>Crime Category: <strong>{{crimeService.selectedCrime.stationName}}</strong></p>
                <p>Crime Category: <strong>{{crimeService.selectedCrime.crimeCategoryName}}</strong></p>
                <p>Crime Location: <strong>{{crimeService.selectedCrime.location}}</strong></p>
                <!-- <h4>Criminal:{{crimeService.selectedCrime.criminal}}</h4> -->
                    <!-- ngif only if criminal is known -->
                    <p>Criminal Description: <Strong></Strong></p>
                    <textarea disabled="true" rows="8" cols="70" value="{{crimeService.selectedCrime.crimeDescription}}"></textarea>
                    <p>Crime Description: <strong></strong></p>
                    <textarea disabled="true" rows="8" cols="70" value="{{crimeService.selectedCrime.crimeDescription}}"></textarea>
            </div>
        </div>
    </div>
    
</div>