.container {
    padding: 20px;
    margin-top: 20px;
    border-radius: 3%;
    height: fit-content;
}

.crime-status {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
}

.grid-container {
    display: grid;
    grid-template-areas: "a b";
    padding: 20px;
    /* grid-template-columns: auto auto auto; */
}

h4 {
    font-weight: 500;
}

.b {
    grid-area: a;
    margin: auto;
}

.image-container {
    grid-area: b;
    align-content: flex-end;
}

.image {
    /* width: 400px;
    height: 300px; */
    min-width: fit-content;
    height: fit-content;
    padding: 4px;
    width: 50%;
}

.header {
    background-color: rgb(43, 50, 54);
    color: rgba(255, 255, 255, 0.884);
    text-align: center;
    padding: 7px;
}

.crime-title {
    background-color: rgb(43, 50, 54);
    color: rgba(255, 255, 255, 0.884);
    text-align: center;
    padding: 7px;
}

.a {
    padding: 5px;
}