<div class="container mat-elevation-z8">
    <div class="crime-title">
        <h1 style="text-align: center;">Crime Title</h1>
    </div>

    <hr class="line-color">
    <h2 style="text-align: center;">Crime Status</h2>

    <div class="crime-status">
        <div>
            <h4>Crime Date:</h4>
        </div>
        <div>
            <h4>Crime Entry Date:</h4>
        </div>
        <div>
            <h4>Status:</h4>
        </div>
        <div>
           <!-- ngif only if closed show -->
        <h4>Close Date:</h4>
        </div>
        
    </div>

    <hr class="line-color">
    <h2 style="text-align: center;">Crime Information</h2>
    <div class="crime-details">
        <div class="grid-container">
            <div class="image-container">
                <h2>Crime Image goes here</h2>
            </div>
            <div class="a">
                <h4>Station:</h4>
                <h4>Crime Category:</h4>
                <h4>Crime Location:</h4>
                <h4>Criminal:</h4>
            </div>
        </div>
        <div>
            <h4>Criminal Description:</h4>
            <!-- ngif only if criminal is known -->
            <h4>Crime Description:</h4>
        </div>
    </div>
    
</div>