table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 50%;
}

td,
th {
    width: 10%;
}

.form-container {
    border-radius: 1%;
    border-width: 1px;
    border-color: rgb(157, 173, 204);
    border-style: ridge;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mat-form-field {
    width: 12%;
    margin: 5px;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.dot-green {
    background-color: green;
}

.dot-yellow {
    background-color: orange;
}