div.loginCard {
    background-color: #ffff;
    position: static;
    width: 600px;
    height: fit-content;
    margin: 2em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    padding: 10px;
}

p.sign {
    padding-top: 20px;
    color: #f00d2b;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 30px;
}

.email {
    /* width: 100%; */
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 0.2px 0.7px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 40px;
    margin-left: 72px;
    text-align: center;
    margin-bottom: 17px;
    font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 10px;
}

.password {
    width: 36%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 0.2px 0.7px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 40px;
    margin-left: 72px;
    text-align: center;
    margin-bottom: 17px;
    font-family: 'Ubuntu', sans-serif;
}
.confirm-password{
    margin-left:20px;
    width: 36%; 
}
.last-name {
    margin-left:17px;
    width: 35%; 
   
}
.first-name{
    width: 35%;
    margin-left: 85px;
}

.email:focus,
.password:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

button.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #FFFFFF;
    background: linear-gradient(to right, #f00d2b, hsl(352, 90%, 62%));
    border: 0;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 30%;
    font-size: 15px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.register {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    padding-top: 15px;
    font-size: 15px;
    margin-left: 5%;
}

button {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    text-decoration: none
}

.radio{
    margin:10px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}

