<div class="loginCard">
    <p class="sign" align="center">Register</p>
    <form class="form1">
        <form [formGroup]="registerForm" (submit)="registerUser()">
            <div class="row">
                <mat-form-field class="email first-name">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName" placeholder="Ex. John Doe">
                    <mat-error *ngIf="registerForm.controls.firstName.hasError('required')">
                        First Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="email last-name">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" placeholder="Ex. John Doe">
                    <mat-error *ngIf="registerForm.controls.lastName.hasError('required')">
                        Last Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-form-field class="email" align="center">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="registerForm.controls.email.hasError('email') && !registerForm.controls.email.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="registerForm.controls.email.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <!-- <mat-form-field class="email" align="center">
                <mat-label>Username</mat-label>
                <input matInput formControlName="userName" placeholder="Ex. WI Street">
                <mat-error *ngIf="registerForm.controls.userName.hasError('required')">
                    Username is <strong>required</strong>
                </mat-error>
            </mat-form-field> -->
            <mat-form-field class="email" align="center">
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="phoneNumber" placeholder="Ex. 079000000">
                <mat-error *ngIf="registerForm.controls.phoneNumber.hasError('required')">
                    Phone Number is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <!-- <mat-form-field class="email" align="center">
                <mat-label>Date Of Birth</mat-label>
                <input matInput formControlName="dateOfBirth" placeholder="Ex. WI Street">
                <mat-error *ngIf="registerForm.controls.dateOfBirth.hasError('required')">
                    Date Of Birth is <strong>required</strong>
                </mat-error>
            </mat-form-field> -->
            <mat-form-field class="password" align="center">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password">
                <mat-error *ngIf="registerForm.controls.password.hasError('minlength') && !registerForm.controls.password.hasError('required')">
                    Please enter a password that is at least 8 cahracters long
                </mat-error>
                <mat-error *ngIf="registerForm.controls.password.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="password confirm-password" align="center">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="passwordConfirm" type="password">
            </mat-form-field>
            <div style="margin-bottom: 10px;;" align="center" *ngIf="registerForm.errors?.passwordMatch" class="cross-validation-error-message alert alert-danger">
                <mat-error>
                    Password and Password confirm do not macth
                </mat-error>
            </div>
            <mat-form-field appearance="fill" class="email" >
                <mat-label>Date Of Birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="registerForm.controls.dateOfBirth.hasError('required')">Date of Birth is required</mat-error>
              </mat-form-field>

            <div class = "radio" align="center">
                <mat-label>Gedner: </mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="gender">
                    <mat-radio-button value="f">Female</mat-radio-button>
                    <mat-radio-button value="m">Male</mat-radio-button>
                    <mat-error *ngIf="registerForm.controls.gender.hasError('required')">Gender is required</mat-error>
                  </mat-radio-group>
            </div>
            
            <button mat-raised-button class="submit" type="submit" align="center" >
                    <span style="color: white; cursor: pointer;">Register</span> </button>
            <p class="register" align="center">
                <span style="color: #f00d2b">Already have an account? &nbsp;<strong  
                            (click)="goToLoginPage()" style="cursor: pointer;" >Login here</strong></span></p>
                            
        </form>
        
    </form>
</div>