<mat-card  class="example-card mat-elevation-z4" >
    <mat-card-header>
    <mat-card-title style="text-align: center;">{{firstName}} {{lastName}}</mat-card-title>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <!-- <mat-card-subtitle>National Number: {{nationalNumber}}</mat-card-subtitle> -->
    </mat-card-header>
    <img mat-card-image class="card-image" [src]=image alt="Photo of {{firstName}} {{lastName}}">
    <mat-card-content>
        <div class = "criminal-info">
          <mat-card-subtitle>Criminal Information</mat-card-subtitle>
            <p>Height: <b>{{height}}cm</b></p>
            <p>Weight: <b>{{weight}}kg</b></p>
            <p>National Number: <b>{{nationalNumber}}</b></p>
        </div>
    </mat-card-content>
    <mat-card-actions>
      <button (click) = "openDialog(criminalId)" mat-button>View Crimes</button>
    </mat-card-actions>
</mat-card>
