    <h3 mat-dialog-title>Create Criminal</h3>
            <form [formGroup]="formGroup">
                <ul style="list-style-type:none;">
                    <li>
                        <mat-form-field class="example-full-width">
                            <mat-label>National Number</mat-label>
                            <input type="text" matInput formControlName="criminalNationalNumber" placeholder="Ex. Young Boy Murdered">
                            <mat-error *ngIf="formGroup.controls.criminalNationalNumber.hasError('required')">
                                National Number is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field class="example-full-width">
                            <mat-label>First Name</mat-label>
                            <input type="text" matInput formControlName="criminalFirstName" placeholder="Ex. Young Boy Murdered">
                            <mat-error *ngIf="formGroup.controls.criminalFirstName.hasError('required')">
                                First Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field class="example-full-width">
                            <mat-label>Last Name</mat-label>
                            <input type="text" matInput formControlName="criminalLastName" placeholder="Ex. Young Boy Murdered">
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field class="example-full-width">
                            <mat-label>Criminal Height</mat-label>
                            <input type="number" matInput formControlName="height">
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field class="example-full-width">
                            <mat-label>Criminal Weight</mat-label>
                            <input type="number" matInput formControlName="weight">
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field class="example-full-width">
                            <mat-label>Phone Number</mat-label>
                            <input type="text" matInput formControlName="phoneNumber">
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field class="example-full-width">
                            <mat-label>Date Of Birth</mat-label>
                            <input type="date" matInput formControlName="dateOfBirth" placeholder="Ex. 125">
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field class="example-full-width">
                            <mat-label>Criminal Address</mat-label>
                            <input type="text" matInput formControlName="address">
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field>
                            <mat-label>Image</mat-label>
                            <ngx-mat-file-input formControlName="image">
                            </ngx-mat-file-input>
                        </mat-form-field>
                    </li>
                </ul>
            </form>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" (click)="saveItem()" cdkFocusInitial [disabled]="formGroup.invalid">Save</button>
    </mat-dialog-actions>