<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Please wait </p></ngx-spinner>

<mat-toolbar color="primary">
    <mat-toolbar-row >
      
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>{{title}}</h1>
      <div *ngIf="isAuthenticated" fxFlex fxLayout = "row">
        <div fxFlex fxLayoutAlign="flex-start center" >
          <span class="menu-spacer"></span>
           <a *ngFor = "let route of routeLinks" mat-button class="toolbar-buttons" [routerLink]="route[0]">{{route[1]}}</a>
        </div>
        <div *ngIf="isAuthenticated" fxFlex fxLayoutAlign="flex-end center">
          <a  mat-button class="toolbar-buttons" routerLink="client/profile">Profile</a>
          <a  mat-button class="toolbar-buttons" (click) = "Logout()">Logout</a>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

<mat-sidenav-container >
    <mat-sidenav #sidenav color="primary">
      <mat-nav-list *ngIf="isAuthenticated">
      <div *ngFor = "let route of routeLinks">
        <a mat-list-item  [routerLink]="route[0]">{{route[1]}}</a>
      </div>
      <hr>
      <div *ngIf="isAuthenticated">
        <a  mat-list-item  routerLink="client/profile">Profile</a>
        <a  mat-list-item style="color:red;" (click) = "Logout()">Logout</a>
      </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="custom-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>
