table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 50%;
}

td,
th {
    width: 25%;
}

.form-container {
    border-radius: 1%;
    border-width: 1px;
    border-color: rgb(157, 173, 204);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mat-form-field {
    width: 15%;
    margin: 5px;
}