<div class="example-container">
    <mat-form-field>
        <input matInput placeholder="Station Name" type="text" [(ngModel)]="stationName" (ngModelChange)="Search()">
        <span matPrefix> <mat-icon>search</mat-icon> &nbsp;</span>
    </mat-form-field>
</div>

<!-- : reverse | paginate: {itemsPerPage:2,currentPage:p}; -->
<table mat-table [dataSource]="this.stationService.stations | orderBy : key : reverse" class="mat-elevation-z8">


    <ng-container matColumnDef="stationName">
        <th mat-header-cell *matHeaderCellDef>Station Name
            <button mat-icon-button style=" margin: 0; color:black;" (click)="Sort('stationName')">
            <mat-icon > sort_by_alpha </mat-icon>
           </button>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.stationName}} </td>
    </ng-container>


    <ng-container matColumnDef="stationAddress">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element"> {{element.stationAddress}} </td>
    </ng-container>


    <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>Phone Number</th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
    </ng-container>


    <ng-container matColumnDef="totalStaff">
        <th mat-header-cell *matHeaderCellDef>Total Staff</th>
        <td mat-cell *matCellDef="let element"> {{element.totalStaff}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">

            <button mat-mini-fab color="warn" aria-label="list stations">
                <mat-icon (click) = "deleteStation(element.stationId)">delete</mat-icon>
            </button>
            <button mat-mini-fab color="primary" aria-label="list stations">
                <mat-icon (click) = "updateStation(element.stationId)">edit</mat-icon>
            </button>
        </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->

</table>

<!-- <table>
    <thead>
        <tr>
            <th>Station Name</th>
            <th>Station Address</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let element of this.stationService.stations | paginate: {itemsPerPage:2,currentPage:p};">
            <td> {{element.stationName}} </td>
            <td> {{element.stationAddress}} </td>

        </tr>
    </tbody>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</table> -->