table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 50%;
}

td,
th {
    width: 25%;
}
.form-container{
    border-radius: 1%;
    border-width: 1px;
    border-color: cornflowerblue;
    border-style:ridge;
}
.date-block {
    border-radius: 2px;
    margin: 1px;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.select {
    width: 30%;
    margin: 5px;
    padding: 5px;
    border: 5px;
}

.s1 {
    padding: 10px;
}

.date {
    width: 30%;
    margin: 5px;
    padding: 5px;
    border: 5px;
    padding-top: 17px;
}

.d1 {
    padding: 10px;
}

.search {
    width: 11%;
    margin: 5px;
    padding: 5px;
    border: 5px;
    padding-top: 28px;
}